* {
    opacity: 1;
    transform: translateY(2px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}



body {
    background: linear-gradient(to right, rgb(35, 35, 35), rgb(29, 29, 30));
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.container2 {
    background: linear-gradient(to right, rgb(33, 33, 34), rgb(31, 31, 32));
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 30px;
}


.navbar {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}


.name {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}



:root {
    --primary: blue
}

.container-profile {
    padding-top: 200px;
    width: 200px;
    border: 2px solid rgb(28, 28, 28);
    border-radius: 5px;
    padding: 30px;
    background-color: rgb(18, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.tombol {
    text-decoration: none;
    border-radius: 100px;
    color: white;
    font-family: bold system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 10px;
    font-size: medium;
}

.tombol:hover {
    background-color: #b65dff;
    font-size: large;
    font-style: normal;
    transform: translateY(-8px);
    font-weight: 400;
    transition: 0.4s;
}



.tombol1 {
    text-decoration: none;
    border-radius: 100px;
    color: white;
    font-family: bold system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    width: 100px;
    transition: 0.4s;
}

.tombol1:hover {
    background-color: rgb(242, 242, 242);
    font-size: medium;
    font-style: normal;
    transform: translateY(-8px);
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
    background: white;
    width: 100px;
    transition: 0.4s;
}

.isi {
    color: black;
    font-size: large;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
}

.logo {
    /* display: flex;
    position: absolute;
    top: 10px;
    left: 4%; */
    height: 100px;
    width: 90px;
    size: 80px;
}


.image {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: space-around;
}

.li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.prinz {
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.developer {
    justify-content: space-around;
    font-size: medium;
    align-items: center;
    padding: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 5px;
    padding-bottom: 2px;
}

.developer1 {
    font-size: large;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-buton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buton {
    text-align: center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border: 2px;
    width: 20rem;
    height: 130px;
    color: rgb(135, 88, 252);
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    font-size: medium;
}


.buton:hover {
    color: rgb(255, 255, 255);
    background: rgb(139, 141, 255);
    font-size: larger;
    font-style: normal;
}







.btn-primary {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}



.projects-preview {
    padding: 5rem 0;
}

.section-title {
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3rem;

}



.section-title2 {
    text-align: center;
    align-items: center;
    font-size: 4rem;
    padding: 3rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3rem;
}


.projects-grid {
    display: flex;
    gap: 3rem;
}

@media screen and (max-width: 800px) {
    .projects-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .project-card {
        max-width: 350px;
        width: 350px;
    }

    .name {
        visibility: hidden;
        font-size: 0.px;

    }

    .nav1 {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        left: 20%;
        font-size: 0.5rem;
        font-weight: 400
    }

    .li {
        padding: 5px;
    }

    .tombol {
        font-size: small;
    }

    .tombol:hover {
        font-size: medium;

    }


    .projects-grid2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        left: 18%;
        height: 90px;
    }

    .section-title {
        font-size: x-large;
    }

    .section-title2 {
        font-size: 4rem;
        padding: 2px;
    }

    .contact {
        padding: 10px;
    }
}


.projects-grid2 {
    display: flex;
    gap: 3rem;
    padding: 70;
}

.project-card {
    background: white;
    width: 90rem;
    border-radius: 15px;
    transition: 0.4s;
}

.project-card:hover {
    transform: translateY(-20px);
    transition: 0.4s;
}



.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.project-info {
    padding: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-info h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--text-primary);
}

.project-info p {
    color: var(--text-secondary);
}


.btn {
    text-align: center;
    border-radius: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    text-decoration: none;
    color: rgb(246, 246, 246);
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}


.btn:hover {
    color: rgb(253, 253, 255);
    background: rgb(36, 40, 252);
    font-size: large;
    font-style: normal;
}


.div-btn2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn2 {
    text-align: center;
    align-items: center;
    border: 2px;
    border-radius: 100px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    background-color: blueviolet;
    text-decoration: none;
    padding: 50px;
    font-size: large;
    font-weight: 650;
    transition: 0.4s;
}


.btn2:hover {
    color: rgb(245, 245, 245);
    background: rgb(21, 0, 255);
    font-size: x-large;
    transition: 0.4s;
}



h2 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    color: #fbf8f8;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 4px;
    background: #ffffff;
    margin: 10px auto 0;
    border-radius: 2px;
}


.contact {
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact a {
    display: inline-block;
    margin: 8px 15px;
    color: #fcf9f9;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

.contact a:hover {
    color: #4000fe;

}

footer {
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(41, 45, 250));
    color: white;
    padding: 20px;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tulisan {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}